/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;

  font-family: "Modak", cursive;
  font-weight: 400;
  background-color: #cfd0cf;
  background: url(img/bg.jpg) no-repeat;
  background-size: cover;
  color: #42024e;
}

/* header */

.title {
  font-size: 42px;
  font-weight: 400;
  margin: 40px 0;
  text-align: center;
  line-height: 47px;
}

/*game*/

.card__box {
  margin: 0 auto;
  max-width: 700px;

  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  perspective: 600px;
  box-sizing: border-box;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 9px;

  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 9px;
  box-sizing: border-box;
}
.front {
  border: 5px solid #fff;
  background: linear-gradient(45deg, #ffc3c8, #2371f3);
  transition: filter 0.2s linear;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 75px;
  text-align: center;
  background: #fff;
  transform: rotateY(180deg);
  transition: background 0.3s linear;
}

.card__inner:hover .front {
  filter: brightness(1.1);
}

.card__inner.show {
  animation: rotate 0.5s linear;
  animation-fill-mode: forwards;
}
.card__inner.close {
  animation: rotate-back 0.5s linear;
  animation-fill-mode: forwards;
}

.card__inner img {
  display: block;
  margin: 0 auto;
}

.default {
  pointer-events: none;
}

.success .back {
  background: #61f6ae;
}

.danger .back {
  background: #f25454;
}

@keyframes rotate {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: 0;
  }
}

/*timer*/

#timer {
  margin: 30px auto;
  text-align: center;

  font-size: 32px;
  line-height: 36px;
}

/*modal window with result*/

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}
.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20%;
  min-width: 350px;
  padding: 30px;
  box-sizing: border-box;
  background: #ffffff;
}

.result__text {
  position: relative;
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
}
.result__letter {
  position: relative;
  top: 20px;
  display: inline-block;
  margin: 0 0 10px;
  animation: jumping 0.5s ease-in-out infinite alternate;
}
.result__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.result__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.result__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.result__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.result__btn {
  display: block;
  height: 40px;
  margin: 0 auto;
  padding: 0 30px;

  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #57385d;

  border: none;
  background: linear-gradient(90deg, #ffc3c8, #2371f3);
  border-radius: 9px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  transition: filter 0.2s linear;
  cursor: pointer;
}
.result__btn:hover {
  color: #42024e;
  filter: brightness(1.1);
}

.result__btn:active {
  box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

@keyframes jumping {
  100% {
    top: 0px;
    transform: scaleY(1.5);
  }
}

@media (max-width: 770px) {
  .card__box {
    max-width: 440px;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px 130px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 420px) {
  .card__box {
    max-width: 440px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
